# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
import pandas as pd
from datetime import timedelta
import numpy as np
import os
import cv2

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [2]:
data = pd.read_csv('application_data.csv')
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [3]:
data['appilcationDate'] = pd.to_datetime(data['appilcationDate'], yearfirst=True)
data['repaymentDueDate'] = pd.to_datetime(data['repaymentDueDate'], yearfirst=True)
data['repaymentPaidDate'] = pd.to_datetime(data['repaymentPaidDate'], yearfirst=True)

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [4]:
data.dtypes.nunique()

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [5]:
# 2a avg loan amount
avg_loan_amt = data['LoanAmount'].mean()
round(avg_loan_amt, 2)

13828.08

In [6]:
# 2b avg interest rate
avg_interest = data['InterestRate'].mean()
round(avg_interest, 2)

23.06

In [7]:
# 2c avg term days 
avg_termdays = data['TermDays'].mean()
round(avg_termdays, 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [8]:
# number of loans more than 3 days late 
data['dateDifference'] = (data['repaymentPaidDate'] - data['repaymentDueDate']).dt.days
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,-4
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,-24
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,-30
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,-26
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,-3

In [9]:
late_loans = data[data['dateDifference']>3]
late_loans.shape[0]

145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [10]:
df1 = data.groupby('TermDays')['LoanAmount'].mean()
df1

TermDays
15      1274.088050
30      7941.964286
45     10706.250000
60     25710.526316
90     37672.727273
120    45055.555556
180    80988.095238
Name: LoanAmount, dtype: float64

In [11]:
df2 = data.groupby('TermDays')['LoanAmount'].std()
df2

TermDays
15      2885.967406
30      1606.039495
45      2346.143820
60     11559.646185
90     18050.140602
120    22192.966854
180    34612.222587
Name: LoanAmount, dtype: float64

In [12]:
print('Mean Loan in 30days:', round(df1.loc[30], 2))
print('Standard deviation of loan amount in 90days:', round(df2.loc[90], 2))

Mean Loan in 30days: 7941.96
Standard deviation of loan amount in 90days: 18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [13]:
# week of year and average number of late days

late_loans['week of year'] = late_loans['appilcationDate'].dt.isocalendar().week
late_loans.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_5044\2847561153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  late_loans['week of year'] = late_loans['appilcationDate'].dt.isocalendar().week

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference,week of year
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15,5
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4,4
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9,3
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8,5
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15,2

In [16]:
late_loans[late_loans['week of year']==2]['dateDifference'].mean()

45.75

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the iodeajo@gmail.com.